{% extends 'base.html.twig' %}

{% block body %}
    <main class="section">
        <div class="block">
            <h2 class="title">{{ 'product.new_products'|trans }}</h2>
            {{ include('product/columns.html.twig', {products: novelties}) }}
        </div>
        <div class="block">
            <h2 class="title">{{ 'product.popular_products'|trans }}</h2>
            {{ include('product/columns.html.twig', {products: popular_products}) }}
        </div>
    </main>
{% endblock %}