{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">

    {% for product in new_products %}
        <div>
            {{ product.name }} <= {{ product.category.name }}
        </div>
    {% endfor %}

    <hr>

    {% for product in popular_products %}
        <div>
            {{ product.name }} => {{ product.popularity }}
        </div>
    {% endfor %}

{% endblock %}