<div class="columns is-multiline">
    {% for product in products %}
        <div class="column is-one-quarter">
            {{ include('product/card.html.twig', {product: product}) }}
        </div>
    {% endfor %}
</div>