<div class="field">
    <label for="email" class="label">{{ 'security.login_form.email'|trans }}</label>
    <div class="control">
        <input
                id="email"
                class="input"
                type="email"
                name="email"
                placeholder="{{ 'security.login_form.email'|trans }}"
                required
                autofocus
                value="{{ email ?? '' }}"
        >
    </div>
</div>