<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="{{ path('profile_index') }}">{{ 'order.nom.pl'|trans }}</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ order|order_number }}</a></li>
    </ul>
</nav>